html {
   background-color:  #8aa6b9;
   scroll-behavior: smooth;
   margin: 0;
   padding: 0;
}


body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	color: #222222;
}

header {
	background-color: #dce9f1;
	padding: 20px;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
}

nav li {
	margin-right: 20px;
}

nav a {
	color: #080808;
	text-decoration: none;
}

nav a:hover {
	text-decoration: underline;
}

main {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

section {
	margin-bottom: 50px;
}

h2 {
	font-size: 2rem;
	margin-bottom: 20px;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: table-cell;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 20px;
	vertical-align: middle;
}

li h3 {
	font-size: 1.5rem;
	margin-bottom: 10px;
}

li img {
	width: 100%;
	height: auto;
}

form {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 20px;
}

label {
	font-size: 1.2rem;
}

input[type="text"],
input[type="email"],
textarea {
	font-size: 1rem;
	padding: 10px;
	border-radius: 5px;
	border: none;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

textarea {
	resize: vertical;
}

button[type="submit"] {
	font-size: 1.2rem;
	padding: 10px 20px;
	background-color: #030303;
	color: #ffffff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

button[type="submit"]:hover {
	background-color: #555;
}
.foto-menu {
    border-radius: 80%;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 10px;
    right: 10px;
}
.contatos {
    display: flex;
    gap: 10px;
  }
  
  .contatos a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #333;
    color: #fff;
    transition: all 0.3s ease;
  }
  
  .contatos a:hover {
    background-color: #0077b5;
  }
.icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 10px;
}
h3 {
   color: #8aa6b9; 
}
.contatos {
    position: relative;
    height: 80px;
  }
